.item-parent {
	border: 1px solid;
	border-radius: 5px;
	background-color: #dadada;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 0 2px 2px 0;
}

a {
	text-decoration: none;
	color: #0d00ff
}

.item-parent:hover {
	background-color: #e3ebf9;
	transition: 0.25s ease-in-out;
	transform: scale(102%);
	box-shadow: 0 5px 5px 0;

}

.item-title {
	font-size: 20px;
	font-weight: 500;
}

.item-user {
	font-size: 15px;

}

.item-body	 {
	font-size: 15px;

}
